<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments :: page_head('Categories - Shopme Admin', 'none')" />

<body>

	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Manage Categories</h2>
			<a th:href="@{/categories/new}" style="text-decoration: none;"
				class="fas fa-user-plus fa-2x icon-dark mr-2"></a> <a
				th:href="@{/categories/export/csv}" style="text-decoration: none;"
				class="fas fa-file-csv fa-2x icon-dark mr-2"></a> <a
				th:href="@{/categories/export/excel}" style="text-decoration: none;"
				class="fas fa-file-excel fa-2x icon-dark mr-2"></a> <a
				th:href="@{/categories/export/pdf}" style="text-decoration: none;"
				class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
		</div>

		<div th:replace="fragments :: search_form_and_message"></div>

		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>

		<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>

						<th>ID</th>
						<th>Category Image</th>
						<th><a class="text-white"
							th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">
								Category Name <span
								th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
						</a></th>
						<th class="hideable-column">Alias</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${categories}">
						<td class="hideable-column">[[${item.id}]]</td>
						<td><img th:if="${item.image != null}"
							th:src="@{${item.imagePath}}" style="width: 100px" /></td>

						<td class="hideable-column">[[${item.name}]]</td>
						<td>[[${item.alias}]]</td>

						<td>
							<div
								th:replace="fragments :: status(${item.enabled}, 'category', '/categories/' + ${item.id})"></div>
						</td>
						<td><a class="far fa-edit fa-2x icon-green"
							th:href="@{'/categories/edit/' + ${item.id}}"
							title="Edit this category"></a> &nbsp; <a
							class="fas fa-trash-alt fa-2x icon-dark" id="link-delete"
							th:href="@{'/categories/delete/' + ${item.id}}"
							th:userId="${item.id}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>